body{
    margin :0;
    padding : 0;
    height: 100%
}
* {
  box-sizing: border-box;
}


/* The Style of The containers Side, we concider header and footer as containers aswell*/
.container{
    background: #213351;
    min-height: 100%;
    width : 100%;
    position: fixed;
    padding: 0px;
    margin : 0px;
}
.header{
    background: #0D1F42;
    width: 100%;
    min-height:  height: 100px;
    display: block;
    
}

.middle{
    background: red;
    width: 100%;
    height: 400px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}


.footer{
    background: #0D1F42;
    width: 100%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    flex-flow: row wrap;
    position: relative;
    position: absolute; 
}

/* Inside containers divs style */

#hchild1{
    background: blue;
    width: 100px;
    min-height: 80px;
    border: solid 1px black;
}
#hchild2{
    
    height: 50px;
    min-width: 30px;
    margin: 8px;
    text-align: center;
    float: right;
    position: relative;
    top: -70px;
    
    
}
#cchild1{
    background: blue;
    width: 80px;
    height: 80px;
    border: solid 1px black;
}
#cchild2{
    background: blue;
    width: 80px;
    height: 80px;
    border: solid 1px black;
}
#fchild1{
    background: white;
    width: 150px;
    min-height: 10px;
    border: solid 1px black;
    text-align: center;
}

#fchild2{
    background: blue;
    width: 80px;
    height: 40px;
    border: solid 1px black;
    margin: 2px;
    padding: 2px;
    float: right;
}

#pbot{
    font: 25px arial, sans-serif;
    color: white;
}
img{
    height: 30px;
    width: 30px;
}

#pybot{
    height: 100px;
    width : 100px;
}