<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>PyBot</title>
        <link rel="stylesheet" href='{{ url_for("static",filename = "css/template.css")}}'>
        <link rel="icon" href='{{ url_for("static",filename = "img/pybot.png")}}'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script  type = "text/javascript" src="{{ url_for('static', filename = 'js/bot.js')}}"></script>

    </head>

    <body>
    
        <div class = "container">
        
            <header>
                <div class="header">
                    <div id = "hchild1"><img src='{{ url_for("static",filename = "img/pybot.png")}}' id = "pybot"></div>
                    <div id = "hchild2"><p id ="pbot">Welcome to The Grand_PyBot Experience</p></div>
                </div>
            </header>
        
            <div class="middle">
                <div id = "cchild1">
                <div id="map"></div>
                <div id = "boxanswers"><p id="mediawiki">{{response}}</p></div>
                    <form method="POST"  action="/" id="chatForm">
                            <input type="text" name="ask" id = "searchbar"/>
                            <button type="submit" id = "searchButton">Envoyer</button>
                    </form>
                </div>
                
            </div>    

            <footer>
                <div class="footer">
                    <div id = "fchild1"> 
                        <p>&#169;All Right reserved</p>
                        <p>Boukroun Younes</p>
                
                    </div>
                    <div id = "fchild2"> 
                        <a href="https://github.com/Lyounessi" target = "_blank"><img src='{{ url_for("static",filename = "img/git.png")}}'</a> 
                        <a href="https://plus.google.com/u/0/109776314443043096266" target = "_blank"><img src= '{{ url_for("static",filename = "img/gplus.png")}}'></a>
                    </div>
                </div>
            </footer>
            
        </div>
        <script >
            
        </script>

    </body>

  
</html> 