<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>PyBot</title>
        <link rel="stylesheet" href="static/css/template.css">
    </head>

    <body>
        <header>
            <section class="header">
                <div class = "border">ImageBot</div>
                <div class = "border"><p class = "black">Welcome to The Grand_PyBot Experience</p></div>
            </section>
        </header>
        
            <div class="container">
                <div class="border">forms</div>
                <div class="border">Maps</div>
            </div>    

        <footer>
            <div class="footer">
                <div class = "border"> <p> </p> </div>
                <div class = "border"> <p> </p> </div>
            </div>
        </footer>
    </body>

  
</html> 